# Question 1

In [3]:
print("Company Name is  : ",input("Enter an email :").split('@')[1].split('.')[0])

Enter an email :ansh.ya@yahoo.com
Company Name is  :  yahoo

# Question 2

In [5]:
arr = list(input("Enter a list : ").split(','))
print("Sorted list i :",sorted(arr))

Enter a list : tap,bag,cap,rat,app
Sorted list i : ['app', 'bag', 'cap', 'rat', 'tap']

# Question 3

In [14]:
my_set = {
    1,2,3,4,5,7,9
}
print(my_set)

{1, 2, 3, 4, 5, 7, 9}

In [15]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 9}

In [16]:
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 6, 7, 9}

In [17]:
my_set.pop()
print(my_set)

{2, 3, 5, 6, 7, 9}

In [18]:
set2 = {
    'a','b','c','d',2,3,5
}
print(set2)

{2, 'd', 3, 5, 'c', 'a', 'b'}

In [19]:
print(my_set|set2)
my_set.union(set2)

{2, 3, 'd', 5, 6, 7, 9, 'c', 'a', 'b'}

{2, 3, 5, 6, 7, 9, 'a', 'b', 'c', 'd'}

In [20]:
print(my_set&set2)
my_set.intersection(set2)

{2, 3, 5}

{2, 3, 5}

In [21]:
my_set.clear()
print(my_set)

set()

# Question 4

In [24]:
a = list(map(int, input("Enter a list of values : ").split(',')))
for i in range(1,a[-1],1):
    if i not in a:
        print("Missing Value is : ",i)

Enter a list of values : 1,2,3,4,7,9
Missing Value is :  5
Missing Value is :  6
Missing Value is :  8

# Question 5

In [25]:
l = list(map(int, input("Enter a list").split()))

x= sorted(set(l))
x = list(map(str,x))

print(" ".join(x))

Enter a list1 2 3 4 2 3 5 6 8 10 11 15 20 11 55 77
1 2 3 4 5 6 8 10 11 15 20 55 77